:root {
    background: #2f2f2f;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

svg {
    pointer-events: none;
}

h2 {
    font-size: 30px;
    color: #ffffff;

}

.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    height: 50px;
    background: #34bde0;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-bar-item {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav-bar-search-input {
    padding: 5px;
    border-radius: 5px;
    background: #2f2f2f;
    outline: none;
    color: #ffffff;
}

.nav-bar-search-input::placeholder{
    color: #e1e1e1c2;
}

.anime-details {
    display: flex;
    padding-top: 100px;
    margin-left: 50px;
}

.anime-image {
    width: 320px;
}

.anime-title {
    font-size: 30px;
    color: #ffffff;
}

.left-side {
    width: 320px;
}

.right-side {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.anime-synopsis {
    font-size: 15px;
    color: #ffffff;
    width: 600px;
}

.add-to-list-wrapper {
    display: flex;
    width: 200px;
    margin-top: 50px;
    cursor: pointer;
}

.plus-sign-svg {
    width: 14px;
    padding-right: 6px;
    align-items: center;
}

.add-to-list {
    font-size: 14px;
    text-decoration: underline;
    color: #44be60;
}

.anime-genre, .anime-status, .anime-release, .anime-total-episodes {
    color: #707070;
    padding: 2px 0; 
}